:root {
  --bg-color: #212f45;
  --normal-text: #fcfbfc;
  --dark-green: #006466;
  --dark-purple: #4d194d;
}
body {
  background-color: var(--bg-color);
  color: var(--normal-text);
}

@media screen and (max-width: 1440px) {
  #app {
    margin: auto;
    width: 65%;
  }
}
@media screen and (min-width: 1441px) {
  #app {
    margin: auto;
    width: 35%;
  }
}
